def_template
    %name
        %body

block
    %defs

    %exprs

value
    %value

inline_string
    "%value"

string_literal
    %value

string_expr
    { %expr }

jpath
    %steps

jpath_nametest
    .%name
